<h1>Sample Blog Articles</h1>

<ul id="articles">
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article) %>
		</li>
	<% end %>
</ul>
<br /><br />
<%= link_to "Create a new article", new_article_path, class: 'new_article' %>
<p style="font-weight: 900; font-size: 20px; font-family: Courier new"><%= link_to "Authors (must be logged in)", authors_path %>